In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/bralirwa.csv',header=1)
data.head()

,(In Rwf millions),2017,2018,2019,2020,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Cash flow from operating activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Profit before tax,"7,709","10,346","2,879","12,994",NaN,NaN,NaN,NaN
2,Adjustments for:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Impairment of related party loan,"2,363",301,"3,180","3,516",NaN,NaN,NaN,NaN
4,Interest expense,"5,089","6,274","6,326","5,472",NaN,NaN,NaN,NaN

In [3]:
data_fil = data.drop(['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8'],axis=1)

In [4]:
data_fil.head()

                     (In Rwf millions)    2017    2018   2019    2020
0  Cash flow from operating activities     NaN     NaN    NaN     NaN
1                    Profit before tax  7,709   10,346  2,879  12,994
2                     Adjustments for:     NaN     NaN    NaN     NaN
3     Impairment of related party loan  2,363      301  3,180   3,516
4                     Interest expense  5,089    6,274  6,326   5,472

In [5]:
#melting our data 
pd.melt(data_fil,id_vars='(In Rwf millions)',
       value_vars=[str(x) for x in range(2017,2021)],
       var_name='year')

                               (In Rwf millions)  year     value
0            Cash flow from operating activities  2017       NaN
1                              Profit before tax  2017    7,709
2                               Adjustments for:  2017       NaN
3               Impairment of related party loan  2017    2,363
4                               Interest expense  2017    5,089
..                                           ...   ...       ...
147                             Interest expense  2020   (5,472)
148  Net cash flows used in financing activities  2020  (13,086)
149    Net decrease in cash and cash equivalents  2020   (6,818)
150       Cash and cash equivalents at 1 January  2020  (18,062)
151  Cash and cash equivalents as at 31 December  2020  (24,880)

[152 rows x 3 columns]

In [6]:
data_melt = pd.melt(data_fil,id_vars='(In Rwf millions)',
       value_vars=[str(x) for x in range(2017,2021)],
       var_name='year')
data_melt.head()

                     (In Rwf millions)  year   value
0  Cash flow from operating activities  2017     NaN
1                    Profit before tax  2017  7,709
2                     Adjustments for:  2017     NaN
3     Impairment of related party loan  2017  2,363
4                     Interest expense  2017  5,089

In [7]:
data_melt.duplicated().any()

False

In [8]:
data_mel = data_melt.copy()
data_mel['index'] = data_melt.index
data_mel.head()

                     (In Rwf millions)  year   value  index
0  Cash flow from operating activities  2017     NaN      0
1                    Profit before tax  2017  7,709       1
2                     Adjustments for:  2017     NaN      2
3     Impairment of related party loan  2017  2,363       3
4                     Interest expense  2017  5,089       4

In [9]:
#pivoting our data to make them look nice
data_piv = data_mel.pivot(index=['index','year'],
               columns='(In Rwf millions)',
               values='value').reset_index()
data_piv.head(4)

(In Rwf millions),index,year,NaN,(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
0,0,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"7,709",NaN,NaN,NaN
2,2,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:

data_pivot = data_piv.groupby('year').first()
data_pivot

(In Rwf millions),index,NaN,(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
year,,,,,,,,,,,,,,,,,,,,,
2017,0,"29,388","(7,140)",(585),None,129,"(12,122)","(12,696)",None,None,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
2018,38,"30,297","1,045",(901),None,120,"(19,992)","(12,122)",None,None,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2019,76,"27,223",569,"2,958",None,422,"(18,062)","(19,992)",None,None,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
2020,114,"35,921",(122),"(3,731)",None,452,"(24,880)","(18,062)",None,None,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [11]:
trial = data_pivot.copy()

In [12]:
trial['Adjustments for:']=np.where(trial['Adjustments for:']==None,'','')

In [13]:
trial

(In Rwf millions),index,NaN,(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
year,,,,,,,,,,,,,,,,,,,,,
2017,0,"29,388","(7,140)",(585),,129,"(12,122)","(12,696)",None,None,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
2018,38,"30,297","1,045",(901),,120,"(19,992)","(12,122)",None,None,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2019,76,"27,223",569,"2,958",,422,"(18,062)","(19,992)",None,None,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
2020,114,"35,921",(122),"(3,731)",,452,"(24,880)","(18,062)",None,None,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [14]:
trial['Cash flow financing activities']=np.where(trial['Cash flow financing activities']==None,'','')
trial['Cash flow from investing activities']=np.where(trial['Cash flow from investing activities']==None,'','')
trial['Cash flow from operating activities']=np.where(trial['Cash flow from operating activities']==None,'','')
trial

(In Rwf millions),index,NaN,(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
year,,,,,,,,,,,,,,,,,,,,,
2017,0,"29,388","(7,140)",(585),,129,"(12,122)","(12,696)",,,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
2018,38,"30,297","1,045",(901),,120,"(19,992)","(12,122)",,,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2019,76,"27,223",569,"2,958",,422,"(18,062)","(19,992)",,,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
2020,114,"35,921",(122),"(3,731)",,452,"(24,880)","(18,062)",,,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [15]:
trial['Changes in working capital']=np.where(trial['Changes in working capital']==None,'','')
trial

(In Rwf millions),index,NaN,(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
year,,,,,,,,,,,,,,,,,,,,,
2017,0,"29,388","(7,140)",(585),,129,"(12,122)","(12,696)",,,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
2018,38,"30,297","1,045",(901),,120,"(19,992)","(12,122)",,,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2019,76,"27,223",569,"2,958",,422,"(18,062)","(19,992)",,,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
2020,114,"35,921",(122),"(3,731)",,452,"(24,880)","(18,062)",,,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [16]:
trial.rename(columns={np.NaN:'Cash Flow from operations(CFO),Total'})

(In Rwf millions),index,"Cash Flow from operations(CFO),Total",(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
year,,,,,,,,,,,,,,,,,,,,,
2017,0,"29,388","(7,140)",(585),,129,"(12,122)","(12,696)",,,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
2018,38,"30,297","1,045",(901),,120,"(19,992)","(12,122)",,,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2019,76,"27,223",569,"2,958",,422,"(18,062)","(19,992)",,,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
2020,114,"35,921",(122),"(3,731)",,452,"(24,880)","(18,062)",,,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [17]:
trial_rename = trial.rename(columns={np.NaN:'Cash Flow from operations(CFO),Total'})
trial_rename

(In Rwf millions),index,"Cash Flow from operations(CFO),Total",(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
year,,,,,,,,,,,,,,,,,,,,,
2017,0,"29,388","(7,140)",(585),,129,"(12,122)","(12,696)",,,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
2018,38,"30,297","1,045",(901),,120,"(19,992)","(12,122)",,,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2019,76,"27,223",569,"2,958",,422,"(18,062)","(19,992)",,,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
2020,114,"35,921",(122),"(3,731)",,452,"(24,880)","(18,062)",,,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [18]:
trial_rename = trial_rename.drop('index',axis=1)

In [19]:
trial_rename

(In Rwf millions),"Cash Flow from operations(CFO),Total",(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,Cash flow from operating activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
year,,,,,,,,,,,,,,,,,,,,,
2017,"29,388","(7,140)",(585),,129,"(12,122)","(12,696)",,,,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
2018,"30,297","1,045",(901),,120,"(19,992)","(12,122)",,,,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2019,"27,223",569,"2,958",,422,"(18,062)","(19,992)",,,,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
2020,"35,921",(122),"(3,731)",,452,"(24,880)","(18,062)",,,,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [20]:
trial_rename.iloc[:,[0,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]].style.set_caption('Bralirwa Cash flow Statement').\
set_table_styles([{
    'selector':'caption',
    'props':[
        ('color','blue'),
        ('font-size','24px')
    ]
}])

In [21]:
trial_rename.columns

Index(['Cash Flow from operations(CFO),Total',
       '(Decrease)/increase in trade and other payables',
       '(Increase)/ decrease in trade and other receivables',
       'Adjustments for:', 'Amortization of intangible assets',
       'Cash and cash equivalents as at 31 December',
       'Cash and cash equivalents at 1 January',
       'Cash flow financing activities', 'Cash flow from investing activities',
       'Cash flow from operating activities',
       'Cash generated from operating activities',
       'Changes in working capital', 'Depreciation',
       'Dividends paid to equity holders of the company',
       'Dividends paid to other shareholders',
       'Foreign exchange difference on loans',
       'Impairment of related party loan', 'Income tax received/(paid)',
       'Increase in inventories', 'Increase in related party balances',
       'Interest expense', 'Interest income', 'Interest lease expense',
       'Interest on leases',
       'Loss / (Gain) on sale of property, plant, and equipment',
       'Net cash flows generated from operating activities',
       'Net cash flows used in financing activities',
       'Net cash used in investing activities',
       'Net decrease in cash and cash equivalents',
       'Other non cash items in Equity', 'Payment of lease commitments',
       'Proceeds from loans and borrowings',
       'Proceeds from sale of property, plant, and equipment.',
       'Profit before tax', 'Purchase of intangible assets',
       'Purchase of property, plant and equipment',
       'Repayment of loans and borrowings'],
      dtype='object', name='(In Rwf millions)')

In [22]:
trial_rename.reset_index(level=0)

(In Rwf millions),year,"Cash Flow from operations(CFO),Total",(Decrease)/increase in trade and other payables,(Increase)/ decrease in trade and other receivables,Adjustments for:,Amortization of intangible assets,Cash and cash equivalents as at 31 December,Cash and cash equivalents at 1 January,Cash flow financing activities,Cash flow from investing activities,...,Net cash used in investing activities,Net decrease in cash and cash equivalents,Other non cash items in Equity,Payment of lease commitments,Proceeds from loans and borrowings,"Proceeds from sale of property, plant, and equipment.",Profit before tax,Purchase of intangible assets,"Purchase of property, plant and equipment",Repayment of loans and borrowings
0,2017,"29,388","(7,140)",(585),,129,"(12,122)","(12,696)",,,...,"(11,148)",574,3,-,-,120,"7,709",(6),"(11,262)","(1,476)"
1,2018,"30,297","1,045",(901),,120,"(19,992)","(12,122)",,,...,"(15,380)","(7,870)",-,-,-,-,"10,346",(892),"(14,488)","(3,121)"
2,2019,"27,223",569,"2,958",,422,"(18,062)","(19,992)",,,...,"(12,461)","1,930",-,(123),-,150,"2,879","(1,191)","(11,420)","(5,653)"
3,2020,"35,921",(122),"(3,731)",,452,"(24,880)","(18,062)",,,...,"(14,694)","(6,818)",-,(191),-,27,"12,994",(476),"(14,245)","(6,369)"

In [23]:
trial_rename.reset_index(level=0,inplace=True)

In [24]:
kk = trial_rename['Cash Flow from operations(CFO),Total'].str.strip()

In [25]:
kk = kk.str.replace(',','').astype(int)

In [26]:
kk

0    29388
1    30297
2    27223
3    35921
Name: Cash Flow from operations(CFO),Total, dtype: int32

In [27]:
import plotly.express as px

In [49]:
fig = px.bar(x=trial_rename['year'],y=kk)
# fig.update_yaxes(range=list([26000,41000]))
fig.add_annotation(text='bralirwa in 2017',x=0,y=kk[0]+1000,showarrow=False,font={'color':'magenta','size':20},height=100)
fig.add_annotation(text='bralirwa in 2018',x=1,y=kk[1]+1000,showarrow=False,font={'color':'magenta','size':20},height=100)
fig.add_annotation(text='bralirwa in 2019',x=2,y=kk[2]+1000,showarrow=False,font={'color':'magenta','size':20},height=100)
fig.add_annotation(text='bralirwa in 2020',x=3,y=kk[3]+1000,showarrow=False,font={'color':'magenta','size':20},height=100)

fig